<div class="side-box">

  <div class="left-strip">

    <div>
      <img height="40" src="assets/images/pie-doc.svg" alt="">
    </div>

    <div>
      <div>
        <img height="20" src="assets/images/apps-icon.svg" alt="">
      </div>
      <div>
        <img width="20" src="assets/images/bell-icon.svg" class="py-20px" alt="">
      </div>
      <div>
        <img height="50" src="assets/images/proImg.png" alt="">
      </div>
    </div>

  </div>

  <div class="right-strip">

    <div class="font-30px text-black side-heading">
      Prospector
    </div>

    <!-- search & list segments -->
    <div class="segment-section">

      <!-- search -->
      <form>
        <input type="text" class="custom-input" placeholder="Search for a table or a segment"
          (input)="searchEvent($event)">
      </form>
      <!-- /search -->

      <!-- list -->
      <div class="text-light-grey font-14px py-20px">
        SEGMENTS
      </div>

      <div class="segment-scroll">
        <div *ngFor="let segment of filteredSegmentList" class="segment-item">
          <ngx-emoji [emoji]="segment.icon.colons" [size]="17"></ngx-emoji>
          <span class="font-14px text-black ml-10px">
            {{segment.segmentName}}
          </span>
        </div>
      </div>
      <!-- /list -->

    </div>
    <!-- /search & list segments -->

    <div class="btn-tray">
      <button (click)="gotoAddSegment()" class="btn btn-sm btn-primary w-100">
        + Add a segment
      </button>
    </div>

  </div>

</div>
