<app-responsive-layout>

  <!-- header small screen -->
  <div class="w-100" content-header-sm>
    <app-header></app-header>
  </div>
  <!-- /header small screen -->

  <!-- header large screen -->
  <div class="w-100" content-header>
    <app-header></app-header>
  </div>
  <!-- header large screen -->

  <!-- side bar -->
  <div class="h-100" content-sidenav>
    <app-side-bar></app-side-bar>
  </div>
  <!-- /side bar -->



  <div content-router-outlet>

    <router-outlet></router-outlet>

  </div>

</app-responsive-layout>
