.emoji-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  position: relative;
}

.emoji-panel {
  position: absolute;
  top: 2px;
  // z-index: 1100 !important;
}

.py-7px {
  padding-top: 7px;
  padding-bottom: 7px;
}

.focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #334BFA;
}
